/* screen - wireframe-u45-1 */

.wireframe-u45-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 1024px;
  padding: 21px 41px;
  width: 1440px;
}

.wireframe-u45-1 .escala-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 792px;
  margin-top: 49px;
  min-height: 933px;
  width: 433px;
}

.wireframe-u45-1 .escala-online {
  color: var(--congress-blue-2);
  font-family: var(--font-family-acme);
  font-size: 43.2px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 51px;
  min-height: 110px;
}

.wireframe-u45-1 .sistema-de-gesto-de-escala-de-trabalho {
  color: var(--biscay);
  font-family: var(--font-family-glory);
  font-size: 27.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  min-width: 433px;
  text-align: center;
  white-space: nowrap;
}

.wireframe-u45-1 .frame-5 {
  align-items: center;
  background-color: #add7ff;
  border-radius: 14.43px;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-top: 296px;
  min-height: 389px;
  padding: 13.9px 18.8px;
  width: 403px;
}

.wireframe-u45-1 .faa-login {
  color: var(--black);
  font-family: var(--font-family-glory);
  font-size: 28.9px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.06px;
  min-height: 32px;
  min-width: 120px;
  white-space: nowrap;
}

.wireframe-u45-1 .usurio {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 21.65px;
  margin-top: 32px;
  min-height: 29px;
  white-space: nowrap;
}

.wireframe-u45-1 .senha {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 21.65px;
  margin-top: 18px;
  min-height: 29px;
  white-space: nowrap;
}

.wireframe-u45-1 .rectangle-3 {
  margin-top: 1px;
}

.wireframe-u45-1 .entrar-como {
  color: var(--black);
  font-family: var(--font-family-glory);
  font-size: 24.8px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 6.22px;
  margin-top: 26px;
  min-height: 28px;
  min-width: 124px;
  white-space: nowrap;
}

.wireframe-u45-1 .frame-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 91px;
  margin-top: 26px;
  min-width: 351px;
}

.wireframe-u45-1 .frame-3 {
  align-items: flex-start;
  background-color: #1c576a;
  border-radius: 8.66px;
  box-shadow: inset 0px 2.31px 2.31px #00000040;
  display: flex;
  height: 42px;
  overflow: hidden;
  padding: 6.4px 5.8px;
  width: 137px;
}

.wireframe-u45-1 .coordenador {
  letter-spacing: 0;
  line-height: normal;
  min-height: 28px;
  white-space: nowrap;
}

.wireframe-u45-1 .frame-4 {
  align-items: flex-start;
  background-color: #1c576a;
  border-radius: 8.66px;
  box-shadow: inset 0px 2.31px 2.31px #00000040;
  display: flex;
  height: 42px;
  overflow: hidden;
  padding: 6.4px 5.8px;
  width: 124px;
}

.wireframe-u45-1 .funcionrio {
  letter-spacing: 0;
  line-height: normal;
  min-height: 28px;
  white-space: nowrap;
}

.wireframe-u45-1 .frame-2 {
  align-items: center;
  box-shadow: 0px 3.21px 2.41px #0000004c;
  display: flex;
  gap: 12px;
  margin-left: 197px;
  margin-top: 70px;
  min-width: 271px;
}

.wireframe-u45-1 .seu-trabalho-mais-organizado {
  color: var(--congress-blue);
  font-family: var(--font-family-glory);
  font-size: 24.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.6px;
  min-height: 54px;
  min-width: 176px;
  text-align: right;
}

.wireframe-u45-1 .frame-1 {
  align-items: flex-start;
  background-color: var(--congress-blue);
  border-radius: 41.62px/35.31px;
  box-shadow: 0px 3.21px 3.21px #00000040;
  display: flex;
  height: 71px;
  justify-content: flex-end;
  min-width: 83px;
  padding: 12.6px 29.4px;
}

.wireframe-u45-1 .e {
  color: var(--white);
  font-family: var(--font-family-belgrano);
  font-size: 34.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
}

.wireframe-u45-1 .rectangle {
  background-color: #ffffff4f;
  border-radius: 5.77px;
  height: 42px;
  margin-right: 0;
  width: 322px;
}
